<article class="hero-image-footer" style="--hero-image: url('/images/slider-bg.jpeg'); --hero-attachment: fixed;">
    <aside class="hero-image-opacity-footer" style="--hero-opacity-color: rgba(0,0,0,0.7);">
        <div class="hero-image-content">
            <footer class="footer">
                <div class="insta">
                    <span>¡No dudes en escribirnos por whatsapp o visitar nuestro instagram por consultas! Tambien visita la sección de Conoce Más para seguir enamorandote de este maravilloso lugar.</span>
                    <a class="instagram" target="_blank" href="https://www.instagram.com/tuhospedaje.delta/"><i class="fab fa-instagram"></i></a>
                    <h4>¡TE ESPERAMOS!</h4>
                </div>

                <div class="secciones">
                    <ul>
                        <a href="/"><li>Inicio</li></a>
                        <a href="/puerto-gallo"><li>Puerto Gallo</li></a>
                        <a href="/chana"><li>Chana</li></a>
                        <a href="/timbu"><li>Timbu</li></a>
                    </ul>
                </div>
                <br>
                <p>&#169; 2021 Derechos de autor reservados <br/> - Ignacio Irigoitia</p>
            </footer>
        </div>
    </aside>
</article>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="/javascripts/script.js"></script>