<div class="whapp">
    <a href="https://api.whatsapp.com/send?phone=1557417126&text=Hola!%20Bienvenidos%20a%20Hospedate%20Delta" class="btn-wspa" target="_blank"> <i
            class="fab fa-whatsapp btn-wspaicon"></i></a>
</div>