<div class="whapp">
    <a href="https://api.whatsapp.com/send?phone=+5491130051929&text=Hola!%20Escribe%20tu%20consulta%20y%20te%20responderemos%20a%20la%20brevedad!" class="btn-wspa" target="_blank"> <i
            class="fab fa-whatsapp btn-wspaicon"></i></a>
</div>