<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")  %> 
<body>
    <div class="como-llego">
        <%- include("./partials/header.ejs")  %>

        <section id="inicio" class="home">
            <article class="hero-image" style="--hero-image: url('/images/fondo2.jpeg'); --hero-attachment: fixed;">
                <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.4);">
                    <div class="hero-image-content">
                        <h2 class="hero-image-title" style="--hero-textcolor: var(--white-color);">
                            Como Llegar
                        </h2>
                        <div class="button-down">
                            <a class="move" href="#puerto-gallo"><i class="fas fa-chevron-down"></i></a>
                        </div>
                    </div>
                </aside>
            </article>
        </section>

        <section id="inicio" class="home">
            <article class="hero-image" style="--hero-image: url('/images/puertogallo13.jpg'); --hero-attachment: fixed;">
                <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.4);">
                    <div class="hero-image-content">
                        <h2 class="hero-image-title" id="puerto-gallo" style="--hero-textcolor: var(--white-color);">
                            Puerto Gallo
                        </h2>
                        <div class="parrafo-como-llego">
                            <p class="text-como-llego">Ubicada sobre el Rio Espera, Delta del Tigre, a 70 minutos del puerto en lancha colectiva de la empresa interisleña y a 20 minutos en lancha remis o particular.</p>
                        </div>
                        <div class="mapa-como-llego">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6586.486832906125!2d-58.58090416964302!3d-34.369728736975006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca56431b338a1%3A0x20dc6563c3228b24!2sLa%20Flota%20Rabaska!5e0!3m2!1ses!2sar!4v1622756608874!5m2!1ses!2sar" width="90%" height="90%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </aside>
            </article>
        </section>

        <section id="inicio" class="home">
            <article class="hero-image" style="--hero-image: url('/images/bg-chana.jpeg'); --hero-attachment: fixed;">
                <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.4);">
                    <div class="hero-image-content">
                        <h2 class="hero-image-title" style="--hero-textcolor: var(--white-color);">
                            Chana y Timbu
                        </h2>
                        <div class="parrafo-como-llego">
                            <p class="text-como-llego">Las hermanas Chana y Timbu se enceuntran juntas ubicadas sobre el Rio Espera, Delta del Tigre, a 70 minutos del puerto en lancha colectiva de la empresa interisleña y a 20 minutos en lancha remis o particular. Estan a 400 mts de Puerto Gallo</p>
                        </div>
                        <div class="mapa-como-llego">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6586.486832906125!2d-58.58090416964302!3d-34.369728736975006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca56431b338a1%3A0x20dc6563c3228b24!2sLa%20Flota%20Rabaska!5e0!3m2!1ses!2sar!4v1622756608874!5m2!1ses!2sar" width="90%" height="90%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <div class="mostrar-casas">
                            <a href="/conoce-mas" class="btn btn-primary">¡Conoce más!</a>
                        </div>
                    </div>
                </aside>
            </article>
        </section>




    </div>
    <%- include("./partials/whatsapp.ejs")  %>
      
      <%- include("./partials/footer.ejs") %>
</body>
</html>