.btn-wspa{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 55px;
    bottom: 80px;
    right: 21px;
    background: #00bb2d;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow:0px 1px 10px rgba(0, 0, 0, 0.3) ;
}

.btn-wspa i{
    font-size: 2rem;
}

.btn-wspa:hover{
    color: white;
}